:root {
  /*! -------------COLORS START------------- */

  --main-bcg-color: #ffffff;
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-gree: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-dairy: #fcfcfc;
  --color-white: #ffffff;

  /*! -------------COLORS END-------------*/
}

/*! -------------MAIN STYLES START-------------*/
* {
  box-sizing: border-box;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
}
.display-flex {
  display: flex;
  gap: 24px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-bcg-color);
  color: var(--color-slate);
  line-height: 1.5;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  color: var(--main-bcg-color);
  font-size: 56px;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
}

h3 {
  color: var(--color-navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  border: 0;
}

section {
  text-align: center;
}

span {
  color: var(--color-navy-blue);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding: 120px 0 120px 0;
}

.list {
  list-style: none;
}

/*! -------------MAIN STYLES END-------------*/

/*! -------------HEADER START-------------*/

.header-wrap {
  display: flex;
  padding: 24px 0;
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 40px;
  margin-left: auto;
}

.header-contacts {
  margin-left: auto;
}

.nav-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}

/* header {

} */

.header-list > li:first-child {
  margin-left: 76px;
}

.header-nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

.active {
  color: var(--color-ocean);
  border-bottom: 4px solid var(--color-ocean);
  /* border-radius: 2px; */
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.contacts:hover,
.contacts:focus {
  color: var(--color-ocean);
}

.contacts {
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

/*! -------------HEADER END-------------*/

/*? __________________MAIN SECTION */

/*! -------------HERO START-------------*/

.main-btn {
  background-color: var(--color-iris);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.main-btn:hover {
  background-color: var(--color-ocean);
}
.main-btn:focus {
  background-color: var(--color-ocean);
}

.hero {
  background-color: var(--color-navy-blue);
}

.btn {
  color: var(--main-bcg-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;
  padding: 16px 32px;
  margin-top: 48px;
}

/*! -------------HERO END-------------*/

/*! -------------FEATURES START-------------*/

.features-title {
  margin-bottom: 8px;
}
.features-text {
  color: var(--color-slate);
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin: 0;
}
.features-list {
  display: flex;
  gap: 24px;
  text-align: start;
}

.features-item {
  width: 264px;
}

/*! -------------FEATURES END-------------*/

/*! -------------PORTFOLIO START-------------*/

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-item {
  width: 365px;
}

/*! -------------PORTFOLIO END-------------*/

/*! -------------TEAM START-------------*/

.team-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.team {
  background-color: var(--color-cloud);
}
.team-title {
  color: var(--color-navy-blue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.team-item {
  background-color: var(--main-bcg-color);
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-item > img {
  width: 100%;
  margin-bottom: 32px;
}

.team-member-title {
  margin-bottom: 9px;
}

.team-text {
  color: var(--color-slate);
  text-align: center;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

/*! -------------TEAM END-------------*/

.list-btn {
  background-color: var(--color-cloud);
  color: var(--color-iris);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.04em;
}
.list-btn:hover,
.list-btn:focus {
  background-color: var(--color-ocean);
  color: var(--main-bcg-color);
}

.hero-title {
  text-align: center;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: var(--color-navy-blue);
}
.footer-text {
  color: var(--color-cloud);
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-top: 17.5px;
}

.logo-footer {
  color: var(--color-cloud);
}

/*! -------------PORTFOLIO PAGE__/START-------------*/

.header-border {
  border-bottom: 1px solid var(--color-cornflower);
}

.sorting > .list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.list-btn {
  border-radius: 4px;
  border: 1px solid var(--color-cornflower);
  background: var(--color-cloud);
  margin-bottom: 72px;
}

/* .services {

} */
.services-title {
  color: var(--color-navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.services-text {
  color: var(--color-slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 8px 0 32px 0;
}
.services-title,
.services-text {
  padding-left: 16px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.services-item {
  width: calc((100% - 2 * 24px) / 3);
  border: 1px solid var(--color-cornflower);
  background: var(--color-white);
  text-align: left;

}

.services-link > img {
  margin-bottom: 32px;
  width: 100%;
}

/*! -------------PORTFOLIO PAGE__/END-------------*/
